/* Notification Popup CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
     -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.popup-header h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.close-btn {
    cursor: pointer;
    font-size: 18px;
}

.close-btn:hover {
    color: #333;
}

.popup-content {
    padding: 20px;
    font-size: 14px;
}

#trigger-btn {
    margin-bottom: 10px;
}